

/* navbar */
.bg-green {
  background-color: #BDCD00;
}

.nav-item {
  padding-right: 25px;
}

.navbar-brand {
  padding-right: 25px;
}

.navbar-dark .navbar-nav .nav-link {
  /*rgba(255, 255, 255, 1);*/
  color: white;
  font-family: schoolbook-bold;
  font-size: 14pt;
}
