<nav class="navbar navbar-expand-lg navbar-dark bg-green">
  <a class="navbar-brand" href="#"><img src="../assets/images/logoHeader.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#recepten">Recepten</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Inspiratie&kennis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<div>
  <div id="pane1">
    <div class="pane1-block">
      <img src="../assets/images/logo.png" class="image-logo"/>
      <h1 class="text-center pane1-text">“Bresc leert je de basis van koken en inspireert je in je werk”</h1>
    </div>
  </div>
  <div id="pane2">
    <div class="pane2-block">
      <h1 class="text-center text-center pane2-title">Wat is BrescCollege?</h1>
      <h4 class="text-center pane2-text">Bresc gaat verder dan alleen gebruikssuggesties. Bresc college is een kennisen inspiratieplatform voor koks en fast service medewerkers en wil je helpen kennis bij te brengen door middel van makkelijke recepten, basishandelingen, trend reports en white papers.</h4>
    </div>
  </div>
  <div id="pane3">
    <div class="flex-container">
      <a type="button" href="#recepten" class="pane3-blocks "><img class="pane3-images" src="../assets/images/recepten.png"/></a>
      <div class="pane3-blocks .pane3-block2"><img class="pane3-images" src="../assets/images/Trends.png"/></div>
      <div class="pane3-blocks .pane3-block3"><img class="pane3-images" src="../assets/images/kennis.png"/></div>
    </div>
  </div>
  <div id="pane4">
    <div class="pane4-block">
      <img src="images/logoGreen.png" class="image-logo"/>
      <h1 class="text-center pane4-text">Gemakkelijk en toepasbare gerechten met Bresc als basis.</h1>
    </div>
  </div>
  <!-- accordion -->
  <div class="accordion" id="recepten">
    <div id="dropdownGreen1" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
      <h1 id="dropdownGreen1-text" class="headingOne">Sauzen</h1>
      <img class="arrow" src="../assets/images/Arrow.png" />
      <div id="collapseOne" class="collapse dropdownGreen1" aria-labelledby="headingOne" data-parent="#recepten">
        <div class="card-body">

        </div>
      </div>
    </div>

    <div id="dropdownWhite1" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      <h1 id="dropdownWhite1-text" class="headingTwo">Soepen</h1>
      <img class="arrow" src="../assets/images/arrowGreen.png" />
      <div id="collapseTwo" class="collapse dropdownGreen1" aria-labelledby="headingTwo" data-parent="#recepten">
        <div class="card-body">

        </div>
      </div>
    </div>

    <div id="dropdownGreen2"  data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      <h1 id="dropdownGreen2-text" class="headingThree"> Aardappel<br>bereidingen</h1>
      <img class="arrow2" src="../assets/images/Arrow.png" />
      <div id="collapseThree" class="collapse dropdownGreen2" aria-labelledby="headingThree" data-parent="#recepten">
        <div class="card-body">

        </div>
      </div>
    </div>

    <div id="dropdownWhite2" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
      <h1 id="dropdownWhite2-text" class="headingFour">Vega<br>comfort food</h1>
      <img class="arrow2" src="../assets/images/arrowGreen.png" />
      <div id="collapseFour" class="collapse dropdownGreen1" aria-labelledby="headingFour" data-parent="#recepten">
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>
</div>
