

/* Pane1 */
#pane1 {
  padding-top: 50px;
  padding-bottom: 200px;
  background-color: #BDCD00;
}

.image-logo {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pane1-block {
  width: 50%;
  margin: 0 auto;
}

.pane1-text {
  color: white;
  padding-top: 10px;
  font-size: 40pt;
  font-family: schoolbook-bold;
}

/* Pane2 */
#pane2 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.pane2-block {
  width: 50%;
  margin: 0 auto;
}

.pane2-title {
  color: black;
  font-family: schoolbook-bold;
}

.pane2-text {
  color: black;
  font-family: schoolbook;
}

/* Pane3 */
#pane3 {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../assets/images/pane3.jpg");
  background-size: auto 100%;
}

.pane3-blocks {
  width: 150px;
  height: 150px;
  background-color: white;
  margin: 10px;
  cursor:pointer;
}

.pane3-blocks {
  background-color: #BDCD00;
}

.pane3-images {
  max-width:100%;
  max-height:100%;
  display:block;
  margin:auto;
  padding: 10px;
}

#pane4 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.pane4-text {
  color: #BDCD00;
  padding-top: 10px;
  font-size: 40pt;
  font-family: schoolbook-bold;
}

.pane4-block {
  width: 50%;
  margin: 0 auto;
}

#dropdownGreen1 {
  background-color: #BDCD00;
  padding-top: 25px;
  padding-bottom: 25px;
  cursor:pointer;
}

#dropdownGreen1-text {
  color: white;
  padding-left: 30px;
  margin-bottom: 0;
  text-decoration: none;
  font-family: schoolbook-bold;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: none;
}

.dropdownGreen1-content {
  background-color: white;
}

#dropdownWhite1 {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  cursor:pointer;
}

#dropdownWhite1-text {
  color: #BDCD00;
  padding-left: 30px;
  margin-bottom: 0;
  font-family: schoolbook-bold;
}

#dropdownGreen2 {
  background-color: #BDCD00;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor:pointer;
}

#dropdownGreen2-text {
  color: white;
  line-height: 40px;
  padding-left: 30px;
  margin-bottom: 0;
  font-family: schoolbook-bold;
}

#dropdownWhite2 {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor:pointer;
}

#dropdownWhite2-text {
  color: #BDCD00;
  line-height: 40px;
  padding-left: 30px;
  margin-bottom: 0;
  font-family: schoolbook-bold;
}

.bg-green {
  background-color: #BDCD00;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.arrow {
  float: right;
  width: 20px;
  position: relative;
  top: -5px;
  left: -50%; /* or right 50% */
  text-align: left;
}

.arrow2 {
  float: right;
  width: 20px;
  position: relative;
  top: -20px;
  left: -50%; /* or right 50% */
  text-align: left;
}


/* navbar */
.nav-item {
  padding-right: 25px;
}

.navbar-brand {
  padding-right: 25px;
}

.navbar-dark .navbar-nav .nav-link {
  /*rgba(255, 255, 255, 1);*/
  color: white;
  font-family: schoolbook-bold;
  font-size: 14pt;
}
/* Pane1 */
#pane1 {
  padding-top: 50px;
  padding-bottom: 200px;
  background-color: #BDCD00;
}

.image-logo {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pane1-block {
  width: 50%;
  margin: 0 auto;
}

.pane1-text {
  color: white;
  padding-top: 10px;
  font-size: 40pt;
  font-family: schoolbook-bold;
}

/* Pane2 */
#pane2 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.pane2-block {
  width: 50%;
  margin: 0 auto;
}

.pane2-title {
  color: black;
  font-family: schoolbook-bold;
}

.pane2-text {
  color: black;
  font-family: schoolbook;
}

/* Pane3 */
#pane3 {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../assets/images/pane3.jpg");
  background-size: auto 100%;
}

.pane3-blocks {
  width: 150px;
  height: 150px;
  background-color: white;
  margin: 10px;
  cursor:pointer;
}

.pane3-blocks {
  background-color: #BDCD00;
}

.pane3-images {
  max-width:100%;
  max-height:100%;
  display:block;
  margin:auto;
  padding: 10px;
}

#pane4 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.pane4-text {
  color: #BDCD00;
  padding-top: 10px;
  font-size: 40pt;
  font-family: schoolbook-bold;
}

.pane4-block {
  width: 50%;
  margin: 0 auto;
}

#dropdownGreen1 {
  background-color: #BDCD00;
  padding-top: 25px;
  padding-bottom: 25px;
  cursor:pointer;
}

#dropdownGreen1-text {
  color: white;
  padding-left: 30px;
  margin-bottom: 0;
  text-decoration: none;
  font-family: schoolbook-bold;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: none;
}

.dropdownGreen1-content {
  background-color: white;
}

#dropdownWhite1 {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  cursor:pointer;
}

#dropdownWhite1-text {
  color: #BDCD00;
  padding-left: 30px;
  margin-bottom: 0;
  font-family: schoolbook-bold;
}

#dropdownGreen2 {
  background-color: #BDCD00;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor:pointer;
}

#dropdownGreen2-text {
  color: white;
  line-height: 40px;
  padding-left: 30px;
  margin-bottom: 0;
  font-family: schoolbook-bold;
}

#dropdownWhite2 {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor:pointer;
}

#dropdownWhite2-text {
  color: #BDCD00;
  line-height: 40px;
  padding-left: 30px;
  margin-bottom: 0;
  font-family: schoolbook-bold;
}

.bg-green {
  background-color: #BDCD00;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.arrow {
  float: right;
  width: 20px;
  position: relative;
  top: -5px;
  left: -50%; /* or right 50% */
  text-align: left;
}

.arrow2 {
  float: right;
  width: 20px;
  position: relative;
  top: -20px;
  left: -50%; /* or right 50% */
  text-align: left;
}


/* navbar */
.nav-item {
  padding-right: 25px;
}

.navbar-brand {
  padding-right: 25px;
}

.navbar-dark .navbar-nav .nav-link {
/*rgba(255, 255, 255, 1);*/
  color: white;
  font-family: schoolbook-bold;
  font-size: 14pt;
}
