<!-- accordion -->
<div class="accordion" id="recepten">
    <div>
        <div id="dropdownGreen1" (click)="openDropdownSoepen()" data-toggle="collapse" data-target="#collapseOne"
             aria-expanded="false" aria-controls="collapseOne">
            <h1 id="dropdownGreen1-text" class="headingOne">Sauzen</h1>
            <img class="arrow" src="src/assets/images/Arrow.png"/>
        </div>
        <div id="collapseOne" class="collapse dropdownGreen1" aria-labelledby="headingTwo" data-parent="#recepten">
            <bresc-recepten [recept]="soepRecepten[0]" [recepten]="soepRecepten"></bresc-recepten>
        </div>
    </div>

    <div>
        <div id="dropdownWhite1" (click)="openDropdownSoepen()" data-toggle="collapse" data-target="#collapseTwo"
             aria-expanded="false" aria-controls="collapseTwo">
            <h1 id="dropdownWhite1-text" class="headingTwo">Soepen</h1>
            <img class="arrow" src="src/assets/images/arrowGreen.png"/>
        </div>
        <div id="collapseTwo" class="collapse dropdownGreen1" aria-labelledby="headingTwo" data-parent="#recepten">
            <bresc-recepten [recept]="soepRecepten[0]" [recepten]="soepRecepten"></bresc-recepten>
        </div>
    </div>

    <div>
        <div id="dropdownGreen2" (click)="openDropdownSoepen()" data-toggle="collapse" data-target="#collapseThree"
             aria-expanded="false" aria-controls="collapseThree">
            <h1 id="dropdownGreen2-text" class="headingTwo">Aardappel<br>bereidingen</h1>
            <img class="arrow2" src="src/assets/images/Arrow.png"/>
        </div>
        <div id="collapseThree" class="collapse dropdownGreen1" aria-labelledby="headingTwo" data-parent="#recepten">
            <bresc-recepten [recept]="soepRecepten[0]" [recepten]="soepRecepten"></bresc-recepten>
        </div>
    </div>

    <div>
        <div id="dropdownWhite2" (click)="openDropdownSoepen()" data-toggle="collapse" data-target="#collapseFour"
             aria-expanded="false" aria-controls="collapseFour">
            <h1 id="dropdownWhite2-text" class="headingFour">Vega<br>comfort food</h1>
            <img class="arrow2" src="src/assets/images/arrowGreen.png"/>
        </div>
        <div id="collapseFour" class="collapse dropdownGreen1" aria-labelledby="headingTwo" data-parent="#recepten">
            <bresc-recepten [recept]="soepRecepten[0]" [recepten]="soepRecepten"></bresc-recepten>
        </div>
    </div>

</div>
