/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: schoolbook;
  src: url(/assets/schoolbookfont/school.TTF);
}

@font-face {
  font-family: schoolbook-bold;
  src: url(/assets/schoolbookfont/schoolBold.TTF);
}
