<!-- accordion -->
<div class="accordion" id="recepten">
  <div>
    <div class="trends" id="dropdownGreen1"data-toggle="collapse" data-target="#collapse5"
         aria-expanded="false" aria-controls="collapse5">
      <h1 id="dropdownGreen1-text" class="headingOne">Food trends 2018/2019</h1>
      <img class="arrow" src="../assets/images/Arrow.png"/>
    </div>
    <div id="collapse5" class="collapse dropdownGreen1" aria-labelledby="headingTwo" data-parent="#collapse5">
      <bresc-trends></bresc-trends>
    </div>
  </div>
  <div>
    <div class="paper" id="dropdownWhite2" data-toggle="collapse" data-target="#collapse6"
         aria-expanded="false" aria-controls="collapseTwo ">
      <h1 id="dropdownWhite2-text" class="headingOne">White paper<br> Duurzaamheid & veganisme</h1>
      <img class="arrow" src="../assets/images/arrowGreen.png"/>
    </div>
    <div id="collapse6" class="collapse dropdownGreen1-content" aria-labelledby="headingTwo" data-parent="#collapse6">
      <bresc-paper ></bresc-paper>
    </div>
  </div>
  </div>
